<div class="container">
  <p></p>
  <div class=" row row-cols-21 row-cols-md-2 g-4">
    <div class="col">
      <div class="card bg-dark text-white">
        <img
          src="https://images.unsplash.com/photo-1575320854760-bfffc3550640?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          class="card-img-top" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Zenbook Pro 14 Duo OLED (UX8402)</h5>
          <p class="card-text">Lo increíble viene de la mano de Duo Vision</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <img
          src="https://images.unsplash.com/photo-1554246247-6993b606e8b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          class="card-img-top" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">ASUS Vivobook S 14</h5>
          <p class="card-text">Sorprende al mundo con pura potencia</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <img
          src="https://images.unsplash.com/photo-1636211993589-6daf32038bd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          class="card-img-top" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">ASUS Zenbook Flip S13</h5>
          <p class="card-text">
            Desempeño Flexible, diseño elegante.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <img
          src="https://images.unsplash.com/photo-1626675426214-11d5ebc3ff6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          class="card-img-top" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Zenbook 14X OLED Space Edition</h5>
          <p class="card-text">Zenbook 14X OLED Space Edition es una laptop muy especial, fuera de este mundo</p>
        </div>
      </div>
    </div>
  </div>

  <p></p>
  <app-submenu></app-submenu>
  <p></p>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="https://d1zktoovjdma6n.cloudfront.net/media/catalog/product/cache/2868dafe2b4ec8474f3b444cfc8b532a/r/o/rog-zephyrus--duo-16_gx650rx-lo189w_06.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ROG Zephyrus Duo 16 (GX650RX)</h5>
          <div class="card-footer bg-transparent border-danger text-center text-uppercase fs-4 text-danger fw-bolder">$ 2.500.000</div>
    <p></p>
          <p class="card-text"></p>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="button">Agregar <img
                src='https://cdn-icons-png.flaticon.com/128/5381/5381441.png' width="20" height="20"
                style="color: white; font-size: 100px;" class="d-inline-block align-bottom" classalt=""></button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card">
        <img src="https://d1zktoovjdma6n.cloudfront.net/media/catalog/product/cache/2868dafe2b4ec8474f3b444cfc8b532a/a/s/asus_zenbook_pro_16x_oled_ux7602zm-me066w_07.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ROG Zephyrus Duo 16 (GX650RX)</h5>
          <div class="card-footer bg-transparent border-danger text-center text-uppercase fs-4 text-danger fw-bolder">$ 20.500.000</div>
    <p></p>
          <p class="card-text"></p>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="button">Agregar <img
                src='https://cdn-icons-png.flaticon.com/128/5381/5381441.png' width="20" height="20"
                style="color: white; font-size: 100px;" class="d-inline-block align-bottom" classalt=""></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://d1zktoovjdma6n.cloudfront.net/media/catalog/product/cache/2868dafe2b4ec8474f3b444cfc8b532a/a/s/asustufgamingf15_fx506lhb-hn323w_01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ASUS TUF Gaming F15</h5>
          <div class="card-footer bg-transparent border-danger text-center text-uppercase fs-4 text-danger fw-bolder">$ 2.900.000</div>
    <p></p>
          <p class="card-text"></p>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="button">Agregar <img
                src='https://cdn-icons-png.flaticon.com/128/5381/5381441.png' width="20" height="20"
                style="color: white; font-size: 100px;" class="d-inline-block align-bottom" classalt=""></button>
          </div>
        </div>
      </div>
    </div>




 

  