<p></p>
<div class="card" style="width: 19rem;">
    <img src="https://dlcdnwebimgs.asus.com/gain/1f1f6da2-9029-4c42-93de-103a4339826e/w800" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Portátil LENOVO 14"</h5>
      <p class="card-text">IdeaPad 5 - AMD Ryzen 5 - RAM 8GB Disco SSD 512GB - Azul</p>
      <div class="d-grid gap-2">
        <button class="btn btn-outline-primary" type="button">Agregar <img src='https://cdn-icons-png.flaticon.com/128/5381/5381441.png' width="20" height="20" style = "color: white; font-size: 100px;"class="d-inline-block align-bottom" classalt=""></button>
      </div>
    </div>
  </div>

  
