<app-navbar></app-navbar>
<div class="container">
  <app-header titulo="Pedidos"></app-header>
  <button (click)="redireccionarVistaAgregar()" type="button" class="btn btn-primary">Agregar</button>
  <p></p>
  <table class="table table-striped table-hover">
    <thead>
      <tr class="table-dark text-center">
        <th scope="col">CODIGO</th>
        <th scope="col">FECHA</th>
        <th scope="col">TOTAL</th>
        <th scope="col">USUARIO</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary text-center" *ngFor="let pedido of pedidos">
        <th scope="row">{{pedido.codigo}}</th>
        <td>{{pedido.fecha}}</td>
        <td>{{pedido.total}}</td>
        <td>{{pedido.usuario}}</td>
      </tr>
    </tbody>
  </table>
</div>